
.idea/chess_game_project.iml
.idea/misc.xml
.idea/modules.xml
.idea/vcs.xml
.idea/workspace.xml
cmake-build-debug/CMakeCache.txt
cmake-build-debug/CMakeFiles/3.15.3/CMakeRCCompiler.cmake
cmake-build-debug/CMakeFiles/3.15.3/CMakeSystem.cmake
cmake-build-debug/CMakeFiles/3.15.3/CompilerIdC/a.exe
cmake-build-debug/CMakeFiles/3.15.3/CompilerIdC/CMakeCCompilerId.c
cmake-build-debug/CMakeFiles/clion-environment.txt
cmake-build-debug/CMakeFiles/clion-log.txt
cmake-build-debug/CMakeFiles/cmake.check_cache
cmake-build-debug/CMakeFiles/CMakeError.log
cmake-build-debug/CMakeFiles/CMakeOutput.log
CMakeLists.txt
.idea/.name
cmake-build-release-cygwin/CMakeFiles/clion-environment.txt
cmake-build-release-cygwin/CMakeFiles/clion-log.txt
cmake-build-release-mingw/CMakeCache.txt
cmake-build-release-mingw/CMakeFiles/3.15.3/CMakeRCCompiler.cmake
cmake-build-release-mingw/CMakeFiles/3.15.3/CMakeSystem.cmake
cmake-build-release-mingw/CMakeFiles/3.15.3/CompilerIdC/a.exe
cmake-build-release-mingw/CMakeFiles/3.15.3/CompilerIdC/CMakeCCompilerId.c
cmake-build-release-mingw/CMakeFiles/3.15.3/CompilerIdCXX/a.exe
cmake-build-release-mingw/CMakeFiles/3.15.3/CompilerIdCXX/CMakeCXXCompilerId.cpp
cmake-build-release-mingw/CMakeFiles/clion-log.txt
cmake-build-release-mingw/CMakeFiles/cmake.check_cache
cmake-build-release-mingw/CMakeFiles/CMakeError.log
cmake-build-release-mingw/CMakeFiles/CMakeOutput.log
cmake-build-release-mingw/CMakeFiles/clion-environment.txt
